<!-- <div id="sliderFrame">
  <div id="slider">
      <a href="http://www.menucool.com/javascript-image-slider" target="_blank">
          <img src="images/image-slider-1.jpg" alt="Welcome to Menucool.com" />
      </a>
      <img src="images/image-slider-2.jpg" />
      <img src="images/image-slider-3.jpg" alt="" />
      <img src="images/image-slider-4.jpg" alt="#htmlcaption" />
      <img src="images/image-slider-5.jpg" />
  </div>
</div> -->

<div class="top-bar">
        <div class="container">
            <ul class="left-bar-side">
                <li> <a href="04_about_us.html" title="About DriveMe">About </a> - </li>
                <li> <a href="blog.html" title="Blog">Blog </a> - </li>
                <li> <a href="#.">FAQ </a> - </li>
                <!-- <li> <a href="#."><i class="fa fa-facebook"></i></a> - </li>
                <li> <a href="#."><i class="fa fa-twitter"></i></a> - </li>
                <li> <a href="#."><i class="fa fa-linkedin"></i></a></li> -->
            </ul>
            <ul class="right-bar-side">
                <!-- <li> <a href="#."><i class="fa fa-comment"></i> Chat Now </a></li> -->
                <li> <a href="#."><i class="fa fa-phone"></i> + 90 888 777 5544 </a></li>
                <li> <a href="#."><i class="fa fa-envelope"></i> support@raceapp.com </a></li>
                <li> <a href="#."><i class="fa fa-user"></i> Login </a></li>
                <li> <a href="#."><i class="fa fa-user"></i> Register </a></li>
            </ul>
        </div>
    </div>
    <header class="sticky">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="row">
                        <div class="navbar-header col-md-3 col-sm-3">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-res"> <span class="sr-only">Toggle navigation</span> <span class="fa fa-navicon"></span> </button>
                            <!--======= LOGO =========-->
                            <div class="logo"> <a href="index.html"> <span class="fa-stack"> 
                                <!-- <i class="fa logo-hex fa-stack-2x"></i> -->
                                 <i class="fa logo-fa fa-road fa-stack-1x"></i> </span> Race Box </a> </div>
                        </div>

                        <!--======= MENU =========-->
                        <div class="col-md-9 col-sm-9">
                            <div class="collapse navbar-collapse" id="nav-res" style="display: block">
                                <ul class="nav navbar-nav">                         
                                    <li class="dropdown active"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Home <b class="caret"></b></a>
                                        <!-- <ul class="dropdown-menu animated-half fadeInUp">
                                            <li><a href="index.html">Home Version 1</a></li>
                                            <li><a href="02_home.html">Home Version 2</a></li>
                                            <li><a href="03_home.html">Home Version 3</a></li>
                                            <li><a href="index-boxed.html">Home Box Version</a></li>
                                            <li><a href="index-animation.html">Home Animation</a></li>
                                            <li><a href="index-non-sticky.html">Home Header Fix </a></li>
                                        </ul> -->
                                    </li>                                        
                                    <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Events <b class="caret"></b></a>
                                        <!-- <ul class="dropdown-menu animated-half fadeInUp">
                                            <li><a href="05_courses.html">Courses</a></li>
                                            <li><a href="05_courses-list.html">Courses List</a></li>
                                            <li><a href="05_courses-list-single.html">Courses List 1</a></li>
                                            <li><a href="06_course_detail.html">Courses Detail</a></li>
                                            <li><a href="06_course_detail-left-side-bar.html">Courses Detail Left Bar</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Results <b class="caret"></b></a>
                                        <!-- <ul class="dropdown-menu animated-half fadeInUp">
                                            <li><a href="04_about_us.html">About</a></li>
                                            <li><a href="07_instructors.html">Instructors</a></li>
                                            <li><a href="category.html">Product Listing</a></li>
                                            <li><a href="single-product.html">Product Detail</a></li>
                                            <li><a href="404-page.html">404</a></li>
                                            <li><a href="08_booking_page.html">Booking</a></li>
                                            <li><a href="08_booking_page-left-sider-bar.html">Booking Left Sider Bar</a></li>
                                            <li><a href="shortcodes.html">Shortcodes</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Gallery <b class="caret"></b></a>
                                        <!-- <ul class="dropdown-menu animated-half fadeInUp">
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="gallery-col-2.html">Gallery 2 Col</a></li>
                                            <li><a href="gallery-col-3.html">Gallery 3 Col</a></li>
                                            <li><a href="gallery.html">Gallery 4 Col</a></li>
                                            <li><a href="gallery-col-5.html">Gallery 5 Col</a></li>
                                            <li><a href="gallery-masonary.html">Gallery Masonary</a></li>
                                        </ul> -->
                                    </li>
                                    <li><a href="07_instructors.html">About Us</a></li>
                                    <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">About Us  <b class="caret"></b> </a>
                                        <!-- <ul class="dropdown-menu animated-half fadeInUp">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                            <li><a href="blog-left-side-bar.html">Blog Left Bar</a></li>
                                            <li><a href="blog-single-left-side-bar.html">Blog Single Left Bar</a></li>
                                        </ul> -->
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                   
                               
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

     <!--  -->
     <div id="banner" style="display: none">
            <div class="flexslider">
                <ul class="slides">

                    <!--======= SLIDE 1 =========-->
                    <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; transition: opacity 0.4s ease; z-index: 1;" class="">
                         <img src="../../assets/images/banners/barrel-race-1.jpg" alt="" draggable="false">
                        <div class="container">
                            <div class="text-slider">
                                <div class="col-sm-7">
                                    <h3>Register and Check events  <i class="fa fa-long-arrow-right"></i></h3>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                                    <!-- <a class="btn" href="08_booking_page.html">Book lesson</a>  -->
                                    <a class="btn btn-1" href="05_courses-list.html">View More</a> 
                                    <a class="btn get-form" href="javascript:void(0)">Something</a> 
                                </div>
                                <div class="col-sm-5 col-md-4 pull-right hidden-xs">
                                    <div class="find-drive">
                                        <h5>Find Driving Course <i class="fa fa-road"></i></h5>
                                        <div class="drive-form">
                                            <div class="intres-lesson"> 

                                                <!--======= FORM =========-->
                                                <form role="form" id="find_course" method="post">
                                                    <ul class="row">

                                                        <!--======= INPUT NAME =========-->
                                                        <li class="col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="name" name="Name" placeholder="Your Name" data-original-title="" title="">
                                                                <span class="fa fa-user"></span> </div>
                                                        </li>

                                                        <!--======= INPUT EMAIL =========-->
                                                        <li class="col-sm-12">
                                                            <div class="form-group">
                                                                <input type="email" class="form-control" id="email" placeholder="Your Email" data-original-title="" title="">
                                                                <span class="fa fa-envelope"></span> </div>
                                                        </li>

                                                        <!--======= INPUT PHONE NUMBER =========-->
                                                        <li class="col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="phone" placeholder="Phone" data-original-title="" title="">
                                                                <span class="fa fa-phone"></span> </div>
                                                        </li>

                                                        <!--======= INPUT PHONE NUMBER =========-->
                                                        <li class="col-sm-6">
                                                            <div class="form-group">
                                                                <input type="text" name="datepicker" class="form-control hasDatepicker" id="datepicker" placeholder="DD/MM/YY" data-original-title="" title="">
                                                                <span class="fa fa-calendar"></span> </div>
                                                        </li>

                                                        <!--======= INPUT SELECT =========-->
                                                        <li class="col-sm-6">
                                                            <div class="form-group">
                                                                <select id="select1">
                                                                    <option>Course Type</option>
                                                                    <option>Course Type 1</option>
                                                                    <option>Course Type 2</option>
                                                                    <option>Course Type 3</option>
                                                                </select>
                                                                <span class="fa fa-file-text-o"></span> </div>
                                                        </li>

                                                        <!--======= INPUT SELECT =========-->
                                                        <li class="col-sm-6">
                                                            <div class="form-group">
                                                                <select id="select2">
                                                                    <option>Car Type</option>
                                                                    <option>Car Type 1</option>
                                                                    <option>Car Type 2</option>
                                                                    <option>Car Type 3</option>
                                                                </select>
                                                                <span class="fa fa-car"></span> </div>
                                                        </li>

                                                        <!--======= INPUT SELECT =========-->
                                                        <li class="col-sm-6">
                                                            <div class="form-group">
                                                                <select id="select3">
                                                                    <option>Time</option>
                                                                    <option>Time 1</option>
                                                                    <option>Time 2</option>
                                                                    <option>Time 3</option>
                                                                </select>
                                                                <span class="fa fa-clock-o"></span> </div>
                                                        </li>
                                                    </ul>

                                                    <!--======= BUTTON =========-->
                                                    <div class="text-center">
                                                        <button type="submit" value="submit" class="btn" id="btn_submit">Find MY Course</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--======= SLIDE 2 =========-->
                    <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;" class="flex-active-slide">
                         <img src="../../assets/images/banners/barrel-race-1.jpg" alt="" draggable="false">
                        <div class="container">
                            <div class="align-c text-slider">
                                <h3>See Results and more.....<i class="fa fa-long-arrow-right"></i></h3>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                                <div class="row"> 
                                    <a class="btn" href="08_booking_page.html">Book Events</a> 
                                    <a class="btn btn-1" href="05_courses-list.html">Login</a> 
                                    <!-- <a class="btn get-form" href="javascript:void(0)">Get A Code</a>  -->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            <ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
        </div>
<!--  -->
<div class="container-fluid" >
        <div class="row " id="banner">
          <div class="col-md-12 flexslider">
            <div id="sliderFrame slides">
                   
              <div id="slider">
                <a href="#" target="_blank">
                  <img src="../../assets/images/banners/barrel-race-1.jpg" alt=" " />
                  <div class="container">
                        <div class="text-slider">
                            <div class="col-sm-7">
                                <h3>Register an Event  <i class="fa fa-long-arrow-right"></i></h3>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                                <a class="btn" href="08_booking_page.html">View  registered  Users</a> 
                                <a class="btn btn-1" href="05_courses-list.html">Details</a> 
                                <!-- <a class="btn get-form" href="javascript:void(0)">Get A Code</a>  -->
                            </div>
                            <div class="col-sm-5 col-md-4 pull-right hidden-xs" style="margin-top: -25%;">
                                <div class="find-drive">
                                    <h5>Find Results <i class="fa fa-road"></i></h5>
                                    <div class="drive-form">
                                        <div class="intres-lesson"> 

                                            <!--======= FORM =========-->
                                            <form role="form" id="find_course" method="post">
                                                <ul class="row">

                                                    <!--======= INPUT NAME =========-->
                                                    <li class="col-sm-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="name" name="Name" placeholder="Your Name" data-original-title="" title="">
                                                            <span class="fa fa-user"></span> </div>
                                                    </li>

                                                    <!--======= INPUT EMAIL =========-->
                                                    <li class="col-sm-12">
                                                        <div class="form-group">
                                                            <input type="email" class="form-control" id="email" placeholder="Your Email" data-original-title="" title="">
                                                            <span class="fa fa-envelope"></span> </div>
                                                    </li>

                                                    <!--======= INPUT PHONE NUMBER =========-->
                                                    <li class="col-sm-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="phone" placeholder="Phone" data-original-title="" title="">
                                                            <span class="fa fa-phone"></span> </div>
                                                    </li>

                                                    <!--======= INPUT PHONE NUMBER =========-->
                                                    <li class="col-sm-6">
                                                        <div class="form-group">
                                                            <input type="text" name="datepicker" class="form-control hasDatepicker" id="datepicker" placeholder="DD/MM/YY" data-original-title="" title="">
                                                            <span class="fa fa-calendar"></span> </div>
                                                    </li>

                                                    <!--======= INPUT SELECT =========-->
                                                    <li class="col-sm-6">
                                                        <div class="form-group">
                                                            <select id="select1">
                                                                <option>Event Name</option>
                                                                <option>Course Type 1</option>
                                                                <option>Course Type 2</option>
                                                                <option>Course Type 3</option>
                                                            </select>
                                                            <span class="fa fa-file-text-o"></span> </div>
                                                    </li>

                                                    <!--======= INPUT SELECT =========-->
                                                    <li class="col-sm-6">
                                                        <div class="form-group">
                                                            <select id="select2">
                                                                <option>Race Class Type</option>
                                                                <option>Car Type 1</option>
                                                                <option>Car Type 2</option>
                                                                <option>Car Type 3</option>
                                                            </select>
                                                            <span class="fa fa-car"></span> </div>
                                                    </li>

                                                    <!--======= INPUT SELECT =========-->
                                                    <li class="col-sm-6">
                                                        <div class="form-group">
                                                            <select id="select3">
                                                                <option>Time</option>
                                                                <option>Time 1</option>
                                                                <option>Time 2</option>
                                                                <option>Time 3</option>
                                                            </select>
                                                            <span class="fa fa-clock-o"></span> </div>
                                                    </li>
                                                </ul>

                                                <!--======= BUTTON =========-->
                                                <div class="text-center">
                                                    <button type="submit" value="submit" class="btn" id="btn_submit">Find MY Score</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                  
                </a>
                <a href="#" target="_blank">
                <img src="../../assets/images/banners/background07large.jpg" />
                <div class="container">
                        <div class="align-c text-slider">
                            <h3>Register as Producer and create an event  <i class="fa fa-long-arrow-right"></i></h3>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                            <!-- <div class="row"> 
                                <a class="btn" href="08_booking_page.html">Login</a> 
                                <a class="btn btn-1" href="05_courses-list.html">Register</a> 
                                <a class="btn get-form" href="javascript:void(0)">Register</a> 
                            </div> -->
                        </div>
                    </div>
                </a>
                <a href="#" target="_blank">
                    <img src="../../assets/images/banners/lindsay-sears-c2a9-christopher-martin-5035 (1).jpg" alt="" />
                 
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
<div class="content">
        <section id="testimonials">
                <div class="container">
                    <div class="testi-slide owl-carousel owl-theme owl-loaded"> 

                        <!--======= SLIDE 1 =========-->
                        

                        <!--======= SLIDE 2 =========-->
                        

                        <!--======= SLIDE 3 =========-->
                        
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1880px, 0px, 0px); transition: 0s; width: 2820px;"><div class="owl-item" style="width: 940px; margin-right: 0px;"><div class="testi">
                            <div class="avatr"> <img src="../../assets/images/profile_noimage.png" alt=""> </div>
                            <div class="feed-text">
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                <h5>Abraham Doe <span> - Creative Dırector </span></h5>
                            </div>
                        </div></div><div class="owl-item" style="width: 940px; margin-right: 0px;"><div class="testi">
                            <div class="avatr"> <img src="../../assets/images/profile_noimage.png" alt=""> </div>
                            <div class="feed-text">
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, nec sagittis sem nibh id elit. lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                <h5>Abraham Doe <span> - Creative Dırector </span></h5>
                            </div>
                        </div></div><div class="owl-item active" style="width: 940px; margin-right: 0px;"><div class="testi">
                            <div class="avatr"> <img src="../../assets/images/profile_noimage.png" alt=""> </div>
                            <div class="feed-text">
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. nec sagittis sem nibh id elit.</p>
                                <h5>Abraham Doe <span> - Creative Dırector </span></h5>
                            </div>
                        </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;"><i class="fa fa-chevron-left"></i></div><div class="owl-next" style="display: none;"><i class="fa fa-chevron-right"></i></div></div><div class="owl-dots" style=""><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div></div>
                </div>
            </section>
            <section id="feature">
                    <div class="container"> 

                        <!--======= TITTLE =========-->
                        <div class="tittle">
                            <h3>Our Features</h3>
                            <p>Giving Best Options For You</p>
                            <hr>
                        </div>
                        <!--======= FEATURE =========-->
                        <ul class="row">

                            <!--======= SERVICES 1 =========-->
                            <li class="col-sm-6 col-md-3">
                                <div class="inner">
                                    <div class="hexagon"><span> </span></div>
                                    <div class="icon"> <i class="fa fa-road"></i> </div>
                                    <h5>Learn about racebox</h5>
                                    <hr>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                                    <a href="#.">Read More</a> </div>
                            </li>

                            <!--======= SERVICES 1 =========-->
                            <li class="col-sm-6 col-md-3">
                                <div class="inner">
                                    <div class="hexagon"><span> </span></div>
                                    <div class="icon"> <i class="material-icons">store</i> </div>
                                    <h5>Unlimited Support</h5>
                                    <hr>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                                    <a href="#.">Read More</a> </div>
                            </li>

                            <!--======= SERVICES 3 =========-->
                            <li class="col-sm-6 col-md-3">
                                <div class="inner">
                                    <div class="hexagon"><span> </span></div>
                                    <div class="icon"> <i class="material-icons">verified_user</i> </div>
                                    <h5>About US</h5>
                                    <hr>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                                    <a href="#.">Read More</a> </div>
                            </li>

                            <!--======= SERVICES 4 =========-->
                            <li class="col-sm-6 col-md-3">
                                <div class="inner">
                                    <div class="hexagon"><span> </span></div>
                                    <div class="icon"> <i class="material-icons">calendar_today</i> </div>
                                    <h5>Events</h5>
                                    <hr>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                                    <a href="#.">Read More</a> </div>
                            </li>
                        </ul>
                    </div>
                </section>
</div>
      <footer>
            <div class="container">                       

                <!--======= FOOTER ROWS =========-->                          
                <ul class="row">

                    <!--======= ABOUT US =========-->
                    <li class="col-sm-6 col-md-3">
                        <h5>About <span>Us</span></h5>
                        <hr>
                        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
                        <form class="subscribe-form" id="subscribe_form">
                            <input type="email" name="newsletter" id="scf_email" placeholder="your.email@adress.com" required="">
                            <button type="submit" id="scf_submit"><i class="fa fa-check"></i> </button>
                        </form>
                    </li>

                    <!--======= USEFUL LINKS =========-->
                    <li class="col-sm-6 col-md-3">
                        <h5>Usefull <span>Links</span></h5>
                        <hr>
                        <ul class="link">
                            <li><a href="#."> Link 1  <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#."> Link 2 <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#."> Link 3 <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#."> Link 4 <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#."> Link 5<i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#."> FAQS <i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </li>
                    <!--======= USEFUL LINKS =========-->
                    <li class="col-sm-6 col-md-3">
                        <h5>Our Photo <span>Gallery</span></h5>
                        <hr>
                        <ul class="flicker">
                            <li><a href="#."><img class="img-responsive" src="../../assets/images/banners/lindsay-sears-c2a9-christopher-martin-5035 (1).jpg" alt=""></a></li>
                            <li><a href="#."><img class="img-responsive" src="../../assets/images/banners/lindsay-sears-c2a9-christopher-martin-5035 (1).jpg" alt=""></a></li>
                            <li><a href="#."><img class="img-responsive" src="../../assets/images/banners/lindsay-sears-c2a9-christopher-martin-5035 (1).jpg" alt=""></a></li>
                            <li><a href="#."><img class="img-responsive" src="../../assets/images/banners/lindsay-sears-c2a9-christopher-martin-5035 (1).jpg" alt=""></a></li>
                            <li><a href="#."><img class="img-responsive" src="../../assets/images/banners/lindsay-sears-c2a9-christopher-martin-5035 (1).jpg" alt=""></a></li>
                            <li><a href="#."><img class="img-responsive" src="../../assets/images/banners/lindsay-sears-c2a9-christopher-martin-5035 (1).jpg" alt=""></a></li>
                        </ul>
                    </li>

                    <!--======= OPENING HOURS =========-->
                    <li class="col-sm-6 col-md-3">
                        <h5>Opening <span>Hours</span></h5>
                        <hr>
                        <ul class="timing">
                            <li> Monday <span>08:00 - 18:00</span></li>
                            <!-- <li> Tuesday <span>08:00 - 18:00</span></li>
                            <li> Wednesday <span>08:00 - 18:00</span></li>
                            <li> Thursday <span>08:00 - 18:00</span></li>
                            <li> Friday <span>08:00 - 18:00</span></li>
                            <li> Saturday <span>08:00 - 13:30</span></li>
                            <li> Sunday <span>Closed</span></li> -->
                        </ul>
                    </li>

                </ul>

                <div class="scroll-top" style="display: block;">
                    <span class="fa fa-angle-up"></span>
                </div> 
            </div>

            <!--======= RIGHTS =========-->
            <div class="rights">
                <div class="container">
                    <ul class="row">
                        <li class="col-md-8">
                            <p>All Rights Reserved © Dealer Express </p>
                        </li>
                        <!--======= SOCIAL ICON =========-->
                        <li class="col-md-4">
                            <ul class="social_icons">
                                <!-- <li class="facebook"><a href="#."><i class="material-icons"></i></a></li>
                                <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i></a></li>
                                <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                                <li class="pinterest"><a href="#."><i class="fa fa-pinterest"></i></a></li>
                                <li class="vimeo"><a href="#."><i class="fa fa-vimeo-square"></i></a></li>
                                <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i></a></li> -->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>