<div class="content-wraper">

  <div class="container-fluid" style="padding: 0px;">
    <div class="row">
      <div class="col-xs-12 col-sm-12">

        <div class="page-header page-header-default">
          <div class="page-header-content">
            <div class="page-title">
              <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Home</span> - Events List</h4>
              <a class="heading-elements-toggle">
                <i class="icon-more"></i>
              </a>
            </div>

          </div>

          <div class="breadcrumb-line">
            <a class="breadcrumb-elements-toggle">
              <i class="icon-menu-open"></i>
            </a>
            <ul class="breadcrumb">
              <li>
                <a routerLink="user/dashboard">
                  <i class="icon-home2 position-left"></i> Home</a>
              </li>
              <li class="active">Events List</li>
            </ul>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <app-alert-message [alertMessage]="alertMessage"></app-alert-message>

    
    <div class="card p-2">
      <div class="card-body row">

        <!-- <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Event Date</th>
                <th scope="col">Event Name</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let events of eventsListData;let i=index" [routerLink]="events?.registered=='true'?['/user/myeventdetails',events.myeventsid]: ['/user/usereventsignup',events._id]"
                class="cur-pointer">

                <td scope="row">{{events.from_date | date: 'dd/MM/yyyy'}} - {{events.to_date | date: 'dd/MM/yyyy'}}</td>
                <td>{{events.event_name}}</td>
                <td>{{events.location}}</td>
                <td>
                  <span>
                    <div *ngIf="events.from_date<currentDate && events.to_date>currentDate" class="on-event">On Going</div>
                    <div *ngIf="events.from_date<currentDate && events.to_date<currentDate" class="e-event">Expired</div>
                    <div *ngIf="events.from_date>currentDate" class="u-event">Upcoming</div>
                  </span>
                </td>
                <td *ngIf="events?.registered=='true'">
                  <span class="view-btn">View</span>
                </td>
                <td *ngIf="events?.registered!='true'">
                  <span class="register-btn">Register</span>
                </td>

              </tr>

            </tbody>
          </table>
        </div> -->

<div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                  aria-selected="true">On Going</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                  aria-selected="false">Upcoming</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
                  aria-selected="false">Expired</a>
                  
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 table-responsive">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Event Date</th>
                      <th scope="col">Event Name</th>
                      <th scope="col">Location</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let events of ongoingEvents;let i=index"  [routerLink]="events?.registered=='true'?['/user/myeventdetails',events.myeventsid]: ['/user/usereventsignup',events._id]"
                      class="cur-pointer">
      
                      <td scope="row">{{events.from_date | date: 'dd/MM/yyyy'}} - {{events.to_date | date: 'dd/MM/yyyy'}}</td>
                      <td>{{events.event_name}}</td>
                      <td>{{events.location}}</td>
                      <td>
                        <span>
                          <div *ngIf="events.from_date<currentDate && events.to_date>currentDate" class="on-event">On Going</div>
                          <div *ngIf="events.from_date<currentDate && events.to_date<currentDate" class="e-event">Expired</div>
                          <div *ngIf="events.from_date>currentDate" class="u-event">Upcoming</div>
                        </span>
                      </td>
                      <td *ngIf="events?.registered=='true'">
                        <span class="view-btn">View</span>
                      </td>
                      <td *ngIf="events?.registered!='true'">
                        <span class="register-btn">Register</span>
                      </td>
                      <!-- <td *ngIf="events?.registration_start_date>=currentDate"> event  </td> -->
      
                    </tr>
      
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Event Date</th>
                      <th scope="col">Event Name</th>
                      <th scope="col">Location</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let events of upcomingEvents;let i=index"  [routerLink]="events?.registered=='true'?['/user/myeventdetails',events.myeventsid]: ['/user/usereventsignup',events._id]"
                      class="cur-pointer">
      
                      <td scope="row">{{events.from_date | date: 'dd/MM/yyyy'}} - {{events.to_date | date: 'dd/MM/yyyy'}}</td>
                      <td>{{events.event_name}}</td>
                      <td>{{events.location}}</td>
                      <td>
                        <span>
                          <div *ngIf="events.from_date<currentDate && events.to_date>currentDate" class="on-event">On Going</div>
                          <div *ngIf="events.from_date<currentDate && events.to_date<currentDate" class="e-event">Expired</div>
                          <div *ngIf="events.from_date>currentDate" class="u-event">Upcoming</div>
                        </span>
                      </td>
                      <td *ngIf="events?.registered=='true'">
                        <span class="view-btn">View</span>
                      </td>
                      <td *ngIf="events?.registered!='true'">
                        <span class="register-btn">Register</span>
                      </td>
                      <!-- <td *ngIf="events?.registration_start_date>=currentDate"> event  </td> -->
      
                    </tr>
      
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Event Date</th>
                      <th scope="col">Event Name</th>
                      <th scope="col">Location</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let events of expiredEvents;let i=index"  [routerLink]="events?.registered=='true'?['/user/myeventdetails',events.myeventsid]: ['/user/usereventsignup',events._id]"
                      class="cur-pointer">
      
                      <td scope="row">{{events.from_date | date: 'dd/MM/yyyy'}} - {{events.to_date | date: 'dd/MM/yyyy'}}</td>
                      <td>{{events.event_name}}</td>
                      <td>{{events.location}}</td>
                      <td>
                        <span>
                          <div *ngIf="events.from_date<currentDate && events.to_date>currentDate" class="on-event">On Going</div>
                          <div *ngIf="events.from_date<currentDate && events.to_date<currentDate" class="e-event">Expired</div>
                          <div *ngIf="events.from_date>currentDate" class="u-event">Upcoming</div>
                        </span>
                      </td>
                      <td *ngIf="events?.registered=='true'">
                        <span class="view-btn">View</span>
                      </td>
                      <td *ngIf="events?.registered!='true'">
                        <span class="register-btn">Register</span>
                      </td>
                      <!-- <td *ngIf="events?.registration_start_date>=currentDate"> event  </td> -->
      
                    </tr>
      
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>